In [1]:
# DEAR TA, MY ANSWERS ARE MARKED BY NUMBERS IN THE COMMENTS!

# Three trends:
# 1) Almost 50% of players who purchased games are aged between 20-24
# 2) 84% of players who purchased games are male
# 3) People aged 35-39 bought the most expensive products according to the average price per person



import pandas as pd
%config IPCompleter.greedy=True

In [2]:
file_one = "purchase_data.csv"

In [3]:
df = pd.read_csv(file_one)

In [4]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
players = df["SN"].nunique()
players

576

In [6]:
# ANSWER 1


PA1 = pd.DataFrame({"Total Players :" : [players]})
PA1

   Total Players :
0              576

In [7]:
unique_items = df["Item ID"].nunique()
unique_items

183

In [8]:
PA2 = pd.DataFrame({"Total Players :" : [players], "Number of Unique Items :" : [unique_items]})
PA2

   Total Players :  Number of Unique Items :
0              576                       183

In [9]:
average_price = df["Price"].mean()
average_price

3.050987179487176

In [10]:
pd.options.display.float_format = '${:,.2f}'.format
PA3 = pd.DataFrame({"Total Players :" : [players],
                           "Number of Unique Items :" : [unique_items], "Average Price :" : [average_price]})
PA3

   Total Players :  Number of Unique Items :  Average Price :
0              576                       183            $3.05

In [11]:
number_purchases = df["Item Name"].count()
number_purchases

780

In [12]:
PA4 = pd.DataFrame({"Total Players :" : [players], "Number of Unique Items :" : [unique_items], 
                           "Average Price :" : [average_price], "Number of Purchases :" : [number_purchases]})
PA4

,Total Players :,Number of Unique Items :,Average Price :,Number of Purchases :
0,576,183,$3.05,780

In [13]:
total_rev = df["Price"].sum()
total_rev

2379.77

In [14]:
# ANSWER 2


PA5 = pd.DataFrame({ "Number of Unique Items :" : [unique_items], 
                           "Average Price :" : [average_price], "Number of Purchases :" : [number_purchases],
                          "Total Revenue :" : [total_rev]})
PA5

,Number of Unique Items :,Average Price :,Number of Purchases :,Total Revenue :
0,183,$3.05,780,"$2,379.77"

In [15]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [16]:
df2 = df.drop_duplicates(["SN"])
df2.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [17]:
genders = df2["Gender"].value_counts()
genders

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [18]:
malecount = genders["Male"]
malecount

484

In [19]:
totalcount = genders["Male"] + genders["Female"] + genders["Other / Non-Disclosed"]
totalcount

576

In [20]:
maleper = (malecount / totalcount)*100
maleper

84.02777777777779

In [21]:
femalecount = genders["Female"]
femalecount

81

In [22]:
othercount = genders["Other / Non-Disclosed"]
othercount

11

In [23]:
femaleper = (femalecount / totalcount)*100
femaleper

14.0625

In [24]:
otherper = (othercount / totalcount)*100
otherper

1.9097222222222223

In [25]:
pd.options.display.float_format = '{:,.2f}'.format
countingpd = pd.DataFrame ({"Total Count" : [malecount, femalecount, othercount], "Percentage of Players" : [maleper, femaleper, otherper]})
countingpd

   Total Count  Percentage of Players
0          484                  84.03
1           81                  14.06
2           11                   1.91

In [26]:
# ANSWER 3


countingpd.rename(index={0:'Male', 1:'Female', 2:'Other / Non-Disclosed'}, inplace=True)
countingpd

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [27]:
malepcount = df.loc[df["Gender"] == "Male",  "Purchase ID"].count()
malepcount

652

In [28]:
malepav = df.loc[df["Gender"] == "Male",  "Price"].mean()
malepav

3.0178527607361953

In [29]:
maleppurch = df.loc[df["Gender"] == "Male",  "Price"].sum()
maleppurch

1967.64

In [30]:
malepavpp = maleppurch / malecount
malepavpp

4.065371900826446

In [31]:
fmalepcount = df.loc[df["Gender"] == "Female",  "Purchase ID"].count()
fmalepcount

113

In [32]:
fmalepav = df.loc[df["Gender"] == "Female",  "Price"].mean()
fmalepav

3.203008849557519

In [33]:
fmaleppurch = df.loc[df["Gender"] == "Female",  "Price"].sum()
fmaleppurch

361.94

In [34]:
fmalepavpp = fmaleppurch / femalecount
fmalepavpp

4.468395061728395

In [35]:
otherppurch = df.loc[df["Gender"] == 'Other / Non-Disclosed',  "Price"].sum()
otherppurch

50.19

In [36]:
otherpav = df.loc[df["Gender"] == 'Other / Non-Disclosed',  "Price"].mean()
otherpav

3.3460000000000005

In [37]:
otherpcount = df.loc[df["Gender"] == 'Other / Non-Disclosed',  "Purchase ID"].count()
otherpcount

15

In [38]:
otherpavpp = otherppurch / othercount
otherpavpp

4.5627272727272725

In [39]:
# ANSWER 4

pd.options.display.float_format = '${:,.2f}'.format
purchana = pd.DataFrame ({"Purchase Count" : [fmalepcount, malepcount, otherpcount], "Average Purchase Price" : [fmalepav,malepav, otherpav],"Total Purchase Value" : [fmaleppurch, maleppurch, otherppurch], "Avg Total Purchase per Person" : [fmalepavpp, malepavpp, otherpavpp]})
purchana
purchana.rename(index={0:'Male', 1:'Female', 2:'Other / Non-Disclosed'}, inplace=True)
purchana

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,113,$3.20,$361.94,$4.47
Female,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [40]:
df2.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [41]:
bins = [0, 9, 14, 19, 24, 29,34,39,45]
# # Create labels for these bins
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df2["Bins"] = pd.cut(df["Age"], bins, labels=labels)
df2

C:\Users\Dad\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,$4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,$1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,$3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",$2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,$2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,$1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,$3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,$4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,$2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,$4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,$1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,$4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",$2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,$2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,$1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,$4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",$4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",$4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",$1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,$3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,$3.40,40+
24,24,Siala43,30,Male,141,Persuasion,$3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,$1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,$3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",$4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",$3.16,20-24
...,...,...,...,...,...,...,...,...
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,$1.97,40+
729,729,Assylla81,20,Male,74,Yearning Crusher,$4.18,20-24
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,30-34
731,731,Eudanu84,22,Female,12,Dawne,$1.02,20-24
733,733,Chamiman85,20,Male,66,Victor Iron Spikes,$4.40,20-24
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",$4.14,20-24
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",$1.75,20-24
738,738,Eusur90,36,Male,121,Massacre,$1.60,35-39
739,739,Mindirranya33,35,Male,61,Ragnarok,$3.87,35-39
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,$4.58,15-19
742,742,Isty55,20,Male,5,Putrid Fan,$4.08,20-24
743,743,Frichilsa31,15,Male,110,Suspension,$1.44,15-19
745,745,Chanista95,39,Male,37,"Shadow Strike, Glory of Ending Hope",$3.16,35-39
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",$3.08,20-24
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,$2.27,20-24
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",$3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,$3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,$2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,35-39
756,756,Ilast79,20,Male,73,Ritual Mace,$2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",$4.60,15-19
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",$1.70,40+
765,765,Irith83,18,Male,130,Alpha,$2.07,15-19
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,$4.58,15-19
771,771,Iskossasda43,16,Male,25,Hero Cane,$4.35,15-19
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",$1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,$4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,$3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",$3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,$4.19,<10

In [42]:

# Find how many rows fall into each bin
df3 = df2["Bins"].count()
df3

576

In [43]:
# ANSWER 5

df3 = df2.groupby("Bins")
df3.head()
price_mean = df3["Price"].mean()

count1 = df3["Item ID"].count()
countp = df3["Item ID"].count() / 576 *100

pd.options.display.float_format = '{:,.2f}'.format
dataframe3 = pd.DataFrame({"Purchase Count" : count1, "Percentage of Players" : countp})
dataframe3

       Purchase Count  Percentage of Players
Bins
<10                17                   2.95
10-14              22                   3.82
15-19             107                  18.58
20-24             258                  44.79
25-29              77                  13.37
30-34              52                   9.03
35-39              31                   5.38
40+                12                   2.08

In [44]:
bins = [0, 9, 14, 19, 24, 29,34,39,45]
# # Create labels for these bins
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df["Bins"] = pd.cut(df["Age"], bins, labels=labels)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [45]:
# ANSWER 6

df4 = df.groupby("Bins")
df4.head()
price_mean2 = df4["Price"].mean()
count2 = df4["SN"].count()
purchval = df4["Price"].sum()
purchvalpp = purchval / count1

pd.options.display.float_format = '${:,.2f}'.format
dataframe4 = pd.DataFrame({"Purchase Count" : count2, "Total Purchase Value" : purchval, "Average Purchase Price" : price_mean2, "Average Purchase Price per Person" : purchvalpp})
dataframe4

,Purchase Count,Total Purchase Value,Average Purchase Price,Average Purchase Price per Person
Bins,,,,
<10,23,$77.13,$3.35,$4.54
10-14,28,$82.78,$2.96,$3.76
15-19,136,$412.89,$3.04,$3.86
20-24,365,"$1,114.06",$3.05,$4.32
25-29,101,$293.00,$2.90,$3.81
30-34,73,$214.00,$2.93,$4.12
35-39,41,$147.67,$3.60,$4.76
40+,13,$38.24,$2.94,$3.19

In [46]:
reduced_df2 = df[["SN", "Item ID", "Price"]]
reduced_df2.head()
grouped_df2 = reduced_df2.groupby(["SN"])
grouped_df2.head()

                  SN  Item ID  Price
0            Lisim78      108  $3.53
1        Lisovynya38      143  $1.56
2         Ithergue48       92  $4.88
3      Chamassasya86      100  $3.27
4          Iskosia90      131  $1.44
5            Yalae81       81  $3.61
6          Itheria73      169  $2.18
7        Iskjaskst81      162  $2.67
8          Undjask33       21  $1.10
9        Chanosian48      136  $3.58
10         Inguron55       95  $4.74
11      Haisrisuir60      162  $2.67
12      Saelaephos52      116  $4.18
13       Assjaskan73        4  $1.70
14       Saesrideu94      165  $4.86
15         Lisassa64       98  $2.89
16         Lisirra25       40  $2.52
17         Zontibe81      161  $1.76
18         Reunasu60       82  $4.90
19         Chamalo71       89  $4.64
20      Iathenudil29       57  $4.60
21     Phiarithdeu40      168  $1.48
22      Siarithria38       24  $3.81
23          Eyrian71      151  $3.40
24           Siala43      141  $3.19
25         Lisirra87      178  $4.23
26        Lirtossa84       71  $1.61
27           Eusri44       96  $3.09
28            Aela59      119  $4.32
29           Tyida79       37  $3.16
..               ...      ...    ...
750         Iljask75      167  $3.61
751      Lisjaskan36      180  $3.36
752    Mindjasksya61      112  $2.60
753   Frichirranya75      178  $4.23
754  Pheosurllorin41       79  $4.05
755         Raesty92       76  $3.15
756          Ilast79       73  $2.05
757        Eratiel90       57  $4.60
758           Iral74      182  $4.03
759      Tyaelorap29       72  $3.77
760       Aithelis62       44  $2.38
761          Assim27       17  $1.70
762           Asur53      110  $1.44
763     Lassilsala30       85  $1.75
764     Saedaiphos46      113  $4.07
765          Irith83      130  $2.07
766     Aelastirin39       58  $4.14
767          Ilmol66       92  $4.88
768     Assassasta79       92  $4.88
769        Ilosian36      145  $4.58
770       Lirtosia63       12  $1.02
771     Iskossasda43       25  $4.35
772           Asur53      136  $3.58
773           Hala31       19  $1.02
774       Jiskjask80      101  $4.19
775       Aethedru70       60  $3.54
776           Iral74      164  $1.63
777       Yathecal72       67  $3.46
778          Sisur91      101  $4.19
779        Ennrian78       50  $4.60

[780 rows x 3 columns]

In [47]:
price_mean = grouped_df2["Price"].mean()
price_sum = grouped_df2["Price"].sum()
count3 = grouped_df2["Item ID"].count()


dataframe2 = pd.DataFrame({"Item Price" : price_mean, "Purchase Count" : count3, "Total Purchase Value" : price_sum})
dataframe2.head()

              Item Price  Purchase Count  Total Purchase Value
SN
Adairialis76       $2.28               1                 $2.28
Adastirin33        $4.48               1                 $4.48
Aeda94             $4.91               1                 $4.91
Aela59             $4.32               1                 $4.32
Aelaria33          $1.79               1                 $1.79

In [48]:
# ANSWER 7

result2 = dataframe2.sort_values(["Total Purchase Value"], ascending=False)
result2.head()

             Item Price  Purchase Count  Total Purchase Value
SN
Lisosia93         $3.79               5                $18.96
Idastidru52       $3.86               4                $15.45
Chamjask73        $4.61               3                $13.83
Iral74            $3.40               4                $13.62
Iskadarya95       $4.37               3                $13.10

In [49]:
reduced_df = df[["Item ID", "Item Name", "Price"]]
reduced_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands  $3.53
1      143                          Frenzied Scimitar  $1.56
2       92                               Final Critic  $4.88
3      100                                Blindscythe  $3.27
4      131                                       Fury  $1.44

In [50]:
grouped_df = reduced_df.groupby(["Item ID", "Item Name"])
grouped_df.head()

     Item ID                                     Item Name  Price
0        108     Extraction, Quickblade Of Trembling Hands  $3.53
1        143                             Frenzied Scimitar  $1.56
2         92                                  Final Critic  $4.88
3        100                                   Blindscythe  $3.27
4        131                                          Fury  $1.44
5         81                                     Dreamkiss  $3.61
6        169        Interrogator, Blood Blade of the Queen  $2.18
7        162                                 Abyssal Shard  $2.67
8         21                                     Souleater  $1.10
9        136                  Ghastly Adamantite Protector  $3.58
10        95                         Singed Onyx Warscythe  $4.74
11       162                                 Abyssal Shard  $2.67
12       116                       Renewed Skeletal Katana  $4.18
13         4                            Bloodlord's Fetish  $1.70
14       165                   Bone Crushing Silver Skewer  $4.86
15        98                   Deadline, Voice Of Subtlety  $2.89
16        40                                 Second Chance  $2.52
17       161                                        Devine  $1.76
18        82                                       Nirvana  $4.90
19        89             Blazefury, Protector of Delusions  $4.64
20        57               Despair, Favor of Due Diligence  $4.60
21       168           Sun Strike, Jaws of Twisted Visions  $1.48
22        24                                 Warped Fetish  $3.81
23       151                                     Severance  $3.40
24       141                                    Persuasion  $3.19
25       178  Oathbreaker, Last Hope of the Breaking Storm  $4.23
26        71                                        Demise  $1.61
27        96                   Blood-Forged Skeletal Spine  $3.09
28       119     Stormbringer, Dark Blade of Ending Misery  $4.32
29        37           Shadow Strike, Glory of Ending Hope  $3.16
..       ...                                           ...    ...
731       12                                         Dawne  $1.02
732       97                   Swan Song, Gouger Of Terror  $2.50
733       66                            Victor Iron Spikes  $4.40
734      165                   Bone Crushing Silver Skewer  $4.86
736       58             Freak's Bite, Favor of Holy Might  $4.14
737      149             Tranquility, Razor of Black Magic  $1.75
738      121                                      Massacre  $1.60
739       61                                      Ragnarok  $3.87
740      127                  Heartseeker, Reaver of Souls  $3.92
742        5                                    Putrid Fan  $4.08
744       94                                Mourning Blade  $3.49
747      146                          Warped Iron Scimitar  $3.10
748       55                         Vindictive Glass Edge  $2.27
750      167                   Malice, Legacy of the Queen  $3.61
751      180                                   Stormcaller  $3.36
752      112                                  Worldbreaker  $2.60
754       79                           Alpha, Oath of Zeal  $4.05
755       76                      Haunted Bronzed Bludgeon  $3.15
756       73                                   Ritual Mace  $2.05
757       57               Despair, Favor of Due Diligence  $4.60
758      182                                     Toothpick  $4.03
760       44                         Bonecarvin Battle Axe  $2.38
761       17                  Lazarus, Terror of the Earth  $1.70
764      113                             Solitude's Reaver  $4.07
765      130                                         Alpha  $2.07
766       58             Freak's Bite, Favor of Holy Might  $4.14
774      101                                  Final Critic  $4.19
777       67         Celeste, Incarnation of the Corrupted  $3.46
778      101                                  Final Critic  $4.19
779       50                                          Dawn  $4.60

[697 rows x 3 columns]

In [51]:
price_mean = grouped_df["Price"].mean()
price_sum = grouped_df["Price"].sum()
count4 = grouped_df["Item ID"].count()


dataframe = pd.DataFrame({"Item Price" : price_mean, "Purchase Count" : count4, "Total Purchase Value" : price_sum})
dataframe.head()

                            Item Price  Purchase Count  Total Purchase Value
Item ID Item Name
0       Splinter                 $1.28               4                 $5.12
1       Crucifer                 $3.26               3                 $9.78
2       Verdict                  $2.48               6                $14.88
3       Phantomlight             $2.49               6                $14.94
4       Bloodlord's Fetish       $1.70               5                 $8.50

In [52]:
# ANSWER 8

result = dataframe.sort_values(["Purchase Count"], ascending=False)
result.head()

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
145,Fiery Glass Crusader,$4.58,9,$41.22
108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
82,Nirvana,$4.90,9,$44.10
19,"Pursuit, Cudgel of Necromancy",$1.02,8,$8.16

In [53]:
# ANSWER 9

result = dataframe.sort_values(["Total Purchase Value"], ascending=False)
result.head()

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
82,Nirvana,$4.90,9,$44.10
145,Fiery Glass Crusader,$4.58,9,$41.22
92,Final Critic,$4.88,8,$39.04
103,Singed Scalpel,$4.35,8,$34.80